
body {
    /*background: linear-gradient(to bottom, #e6b71e, #be2994 100%);*/
    background: linear-gradient(to top , #e6b71e, #be2994 100%);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.options{
    background-image: linear-gradient(to top, #e6b71e, #be2994 100%);
}
#form-questions-container {
    display: flex;
    flex-wrap: wrap; 
}
#btn-results {
    margin-bottom: 5rem;
}

small {
    /*background-color: rgb(9, 2, 32);*/
    border-radius: 10px;
    background-color: rgb(161, 4, 114);
    color: rgb(255, 255, 255);  
    padding: 0 10px;
}

ul li {
    list-style: none;
    margin-left: 10px;
   
}
ul li span {
    color: rgb(161, 4, 114);
    border-radius: 10px;
    padding: 0 10px;
}

ul p {
    color:rgb(59, 59, 59);
    margin-bottom: 0;
}

#body-response h2 {
    text-align: center;
    background-color: rgb(7, 189, 83);
    color: white;
    border-radius: 1.2rem;
}